{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}


{% block content %}
    <div class="container">
        <h1 class="h1 text-dark">{% trans 'Statuses' %}</h1>
        <a class="btn btn-info rounded-pill w-25 mb-3" href="{% url 'statuses:create_status' %}">{% trans 'Create status' %}</a>
        <table class="table">
            <thead class="table-info">
                <tr class="text-center text-align-center">
                    <th class="text-dark" scope="col">{% trans 'ID' %}</th>
                    <th class="text-dark" scope="col">{% trans 'Name' %}</th>
                    <th class="text-dark" scope="col">{% trans 'Creatation date' %}</th>
                    <th class="text-dark" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if statuses %}
                    {% for status in statuses%}
                        <tr class="border-bottom border-info text-center">
                            <th scope="row" class="text-dark">{{ status.id }}</th>
                            <td class="text-dark">{{ status.name }}</td>
                            <td class="text-dark">{{ status.created_date }}</td>
                            <td>
                                <a class="btn btn-sm btn-outline-info rounded-pill my-md-1" href="{% url 'statuses:edit_status' status.id %}">{% trans 'Update' %}</a>
                                <br>
                                <a class="btn btn-sm btn-outline-info rounded-pill" href="{% url 'statuses:delete_status' status.id %}">{% trans 'Delete' %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}